<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please Sign Up!</h3>
        <div class="form-group mt-3">
            <label >Name :</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name: " required>
            <span style="color: red;" *ngIf="name && name.touched && name.invalid">
                Name is required. Min length is 5
            </span>
        </div>
        <div class="form-group mt-3">
            <label >Email Address :</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter Email: " required>
            <span style="color: red;" *ngIf="email && email.touched && email.invalid">
                Email is required. Must input an email type
            </span>
        </div>
        <div class="form-group mt-3">
            <label >Password :</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter password: " required>
            <span style="color: red;" *ngIf="password && password.touched && password.invalid">
                Password is required. Min length is 5
            </span>
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-3">Sign Up</button>
    </form>
</div>