<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="signin()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please Sign In!</h3>
        <div class="form-group mt-3">
            <label >Email Address :</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email: " required>
            <span style="color: red;" *ngIf="email && email.touched && email.invalid">
                email is required. Must email type
            </span>
        </div>
        <div class="form-group mt-3">
            <label >Password :</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter password: " required>
            <span style="color: red;" *ngIf="password && password.touched && password.invalid">
                password is required. Min length is 5
            </span>
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-3">Sign In</button>
    </form>
</div>