<div class="auth-wrapper">
    <form class="form-updateEmployee" [formGroup]="updateEmployeeForm" (ngSubmit)="updateEmployee()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Edit Employee Data</h3>
        <!-- <div class="form-group mt-3">
            <label >Id Employee :</label>
            <input type="text" class="form-control" formControlName="Id" placeholder="Enter Id: " required>
            <span style="color: red;" *ngIf="Title && Title.touched && Title.invalid">
                Insert Id based on the Url
            </span>
        </div> -->
        <div class="form-group mt-3">
            <label >Title :</label>
            <input type="text" class="form-control" formControlName="Title" placeholder="Enter Title: " required>
            <span style="color: red;" *ngIf="Title && Title.touched && Title.invalid">
                Title is required. Min length is 5
            </span>
        </div>
        <div class="form-group mt-3">
            <label >First Name :</label>
            <input type="text" class="form-control" formControlName="FirstName" placeholder="Enter FirstName: " required>
            <span style="color: red;" *ngIf="FirstName && FirstName.touched && FirstName.invalid">
                First Name is required. 
            </span>
        </div>
        <div class="form-group mt-3">
            <label >Last Name :</label>
            <input type="text" class="form-control" formControlName="LastName" placeholder="Enter LastName: " required>
            <span style="color: red;" *ngIf="LastName && LastName.touched && LastName.invalid">
                Last Name is required. 
            </span>
        </div>
        <div class="form-group mt-3">
            <label >Email :</label>
            <input type="email" class="form-control" formControlName="Email" placeholder="Enter Email: " required>
            <span style="color: red;" *ngIf="Email && Email.touched && Email.invalid">
                Email is required.
            </span>
        </div>
        <div class="form-group mt-3">
            <label >Role (0. Admin ; 1. User) :</label>
            <select class="form-control" formControlName="Role" required>
                    <option *ngFor="let updaterole of roles" [value]="updaterole">{{updaterole}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-block btn-primary mt-3" >Edit</button>
    </form>
    <div class="container d-flex justify-content-right m-auto">
        <a [routerLink]="['']" class="btn btn-dark m-2">
            Go Back
        </a>
    </div>
</div>